@{
    ViewData["Title"] = "Home Page";
}

<div class="models d-none">
    <div class="item">
        <img />
        <h3></h3>
        <p class="preco"></p>
        <a asp-area="" asp-controller="Cadastro" asp-action="NovoCadastro">Comprar</a>
    </div>
</div>

<h1 class="text-center">Produtos</h1>

<section id="jogos">

</section>

<script src="~/js/catalogo.js"></script>
<script src="~/js/jogos.js"></script>