html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.navbar-nav{
    display:flex;
    justify-content:space-between;
}

#jogos{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-evenly;

}

.item{
    background-color:lightgray;
    width:250px;
    text-align:center;
    height:450px;
    margin:50px 0px;
}

.item img{
    width:250px;
    height:300px;
}

.item a{
    text-decoration:none;
    color:black;
    padding:5px;
    border:1px solid black;
}

.item a:hover{
    background-color: white;
}